/* *{
  margin: 0;
  padding: 0;
}*/



header {
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 2;
  height: 64px;
  width: 100%;
  border-bottom: 1px solid #C4C4C4;
  background-color: white;
}

.header-container{
  width: 1232px;
  margin: 0 auto;
}

h1{
  width: 208px;
  display: inline-block;
  text-align: left;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #FF002E;
}

.header-text{
  display: inline-block;
  position: relative;
  top: 18px;
  text-align: left;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #FF002E;
}

/* link style */

.header-link{
  float: right;
  text-align: center;
  padding: 0 34px;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #FF002E;;
    background-color: transparent;
    text-decoration: underline;
}

#pagecontainer{
  width: 100vw;
  border: solid blue;
  overflow-x: hidden;
}

#page{
  display: flex;
  flex-direction: row;
  position: relative;
  width: 200vw;
  overflow-x: hidden;
}

#projectspage{
  position: relative;
  flex-basis: auto;
  width: 100vw;
}

#newspage{
  position: relative;
  flex-basis: auto;
  width: 100vw;
}


/* slideshow style */

#container{
  padding-top: 128px;
  height: 693px;
  width: 1232px;
  border: solid green;
  margin: 0 auto 16px auto;
  position: relative;
}

#slideshow{
  height: 693px;
  width: 1232px;
  position: relative;
  margin: auto;
  overflow: hidden;
  position: relative;
}


.mySlides{
  height: 693px;
  width: 1232px;
  margin: 0 auto 16px auto;
  background-color: red;
}

ul#slideshow li:nth-child(2){
    background-color: yellow;
}

#container li:first-child{
		display:list-item;
		position:absolute;
	}

	#container li{
		position:absolute;
		display:none;
	}

/* button next et prev */

  #container .prevButton {
    height: 100px;
    width: 100px;
    background-color: yellow;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 1;
    left: 0;
  }

  #container .prevButton:hover{
    background-color: blue;
  }

  #container .nextButton {
    height: 100px;
    width: 100px;
    background-color: green;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 1;
    right: 0;
  }

  #container .nextButton:hover{
    background-color: blue;
  }

/* NEWS PAGE */

/* grid */

.grid-container{
  height: 693px;
  width: 1232px;
  border: solid red;
  padding-top: 128px;
  margin: 0 auto 16px auto;
  display: flex;
  justify-content:flex-start;
}

.grid{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.grid-item{
  width: 400px;
  height: 576px;
  border: solid aqua;
  margin-bottom: 133px;
}

.grid-item.is-empty {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}


/*.grid::after {
  content: "";
  flex: auto;
}*/

img.photo{
  height: 300px;
}

.date-news{
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: 200;
  font-size: 88px;
  line-height: 114px;
}

li p{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
}
