header {
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 3;
  height: 64px;
  width: 100%;
  border-bottom: 1px solid #f5f5f5;
  background-color: white;
}

.header-container{
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
}

h1{
  width: 208px;
  display: inline-block;
  text-align: left;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #FF002E;
}

.header-text{
  display: inline-block;
  position: relative;
  top: 18px;
  text-align: left;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #FF002E;
  cursor: default;
}

.header-text-link{
  display: inline-block;
  position: relative;
  top: 18px;
  text-align: left;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #FF002E;
  cursor: pointer;
}

.headerlink{
  top: 18px;
  display: inline-block;
  float: right;
}

.headerlink li {
  text-align: center;
  padding: 0 41px;
}

#underbar{
  position: relative;
  margin-left: 18px;
  width: 30%;
  height: 4px;
  background-color: #FF002E;
  margin-top: 37px;
}

/* pages */

.page-container{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
}

.section{
  position: relative;
  width: 100vw;
  flex-shrink: 0;
}

/* slideshow style */
.year{
  text-align: left;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 4px;
  color: #FF002E;
  margin-bottom: 16px;
}

.project-container{
  width: 95%;
  max-width: 1400px;
  margin: 0 auto 16px auto;
  position: relative;
}

#slideshow{
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  width: 100%;
  max-width: 1400px;
  position: relative;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.mySlides{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0 auto 16px auto;
  background-color: #ff9280;
}

.mySlides img{
  height: 100%;
  width: 100%;
}

#project1{
  padding-top: 88px;
}

.project-container li:first-child{
		display:list-item;
		position:absolute;
	}

.project-container li{
		position:absolute;
		display:none;
	}

.project-container .prevButton {
    height: 100%;
    width: 50%;
    top: 0;
    background-color: none;
    position: absolute;
    cursor: w-resize;
    z-index: 2;
    left: 0;
  }

  .project-container .nextButton {
    height: 100%;
    width: 50%;
    top: 0;
    background-color: none;
    position: absolute;
    cursor: e-resize;
    z-index: 2;
    right: 0;
  }


/* NEWS PAGE */

/* grid */

.grid-container{
  height: 693px;
  width: 95%;
  max-width: 1416px;
  padding-top: 88px;
  margin: 0 auto 16px auto;
  display: flex;
  justify-content:flex-start;
}

.grid{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.grid-item{
  width: 32%;
  height: 576px;
  margin: 0px 8px 133px 8px;
}

img.photo{
  width: 100%;
}

.date-news{
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: 200;
  font-size: 88px;
  line-height: 114px;
}

li p{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  width: 90%;
}

/* INFO PAGE */

/* about */
.info-container{
  width: 95%;
  max-width: 1400px;
  margin: 88px auto 16px auto;
}

.about-text{
  display: inline-block;
  position: relative;
}

.about{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 40px;
  width: 100%;
  left: 0;
  color: #FF002E;
}

.info-container h3 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 100px;
}

/* text about */

.about span {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
}

/* img */

#infopage img {
  display: inline-block;
  position: relative;
  width: 20%;
  padding: 100px;
}
